<nav>
    <ul>
        <li>
            <NavLink href="/dashboard/home" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink href="/dashboard/projects">Projects</NavLink>
        </li>
        <li>
            <NavLink href="/dashboard/home">Weather</NavLink>
        </li>
    </ul>
</nav>
